.DS_Store
.idea
.vscode
*.vcd
runs
src/sim_build
src/__pycache__/
src/__tinytapeout
src/results.xml
src/user_config.tcl
*.vvp
*.fst
obj_dir/
images/
sim_build/
__pycache__
icebreaker.json
icebreaker.asc
icebreaker.bit
icebreaker-yosys.log
ulx3s.json
ulx3s.config
ulx3s.bit
ulx3s-yosys.log
